body{
    background : no-repeat;
    /*background-image : url("https://img-3.journaldesfemmes.fr/qZ8NLg4Gvc0nJnZA13PyX8eBd1U=/1500x/smart/9696a79f029b4eb28bb0bab2fcbe6f0e/ccmcms-jdf/23807017.jpg");*/
    background-size: cover;
    background-color: rgb(30, 30, 30);
    color: white;
   }

.barrenav {
    display : flex;
    flex-direction: row;
    justify-content:center;
    list-style-type: none;
    font-family: Impact;
    font-size: 1.5rem;
    width: 80vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border: solid 3px rgb(71, 71, 71);
}

nav{
    max-width: 85vw;
}

.barrenav ul{
    padding-left : 0px
}

.barrenav li{
    padding : 1.5vw;
}

.barrenav a{
    color: inherit;
    text-decoration: inherit;
}

.barrenav li:hover{
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    border-radius: 10%;
    color: rgb(255, 255, 255);
}

h1, h2{
    text-align: center;
}

.exemple {
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: min(900px, 85vw);
}

.exemple img {
    padding : 0px;
    border: solid 4px rgb(5, 27, 2);
    width: min(200px, 20vw);
}

.formulaireInscription label {
    padding : 10px;
    font-size: 1.2rem;
    width: 80vw; 
}

.formulaireInscription input{
    background-color: inherit;
    padding : 10px;
    width : min(40vw);
    border: 0px;
    border-bottom: solid 2px rgb(71, 71, 71);
    color: white;
}

.formulaireInscription input:focus{
    outline: 0px;
}

.formulaireInscription button{
    font-size: 1.5rem;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 10%;
    border: solid 0px rgb(0, 0, 0);
    width: fit-content;
    align-self: center;
    padding : 14px;
    margin-left: 10px;
    margin-top : 10px;
}

.formulaireInscription button:disabled{
    background-color: grey;
    color : rgb(71, 71, 71);
}

.formulaireInscription button:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

.formulaireInscription button:disabled:hover{
    box-shadow: none;
    text-shadow: none;    
}

.formulaireInscription{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.zoneInscription{
    display: flex;
    justify-content: space-evenly;
    border-radius: 1%;
    padding : 5vw;
    width : fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.zoneInscription legend{
    text-align: left;
    font-size: 1.5rem;
}

.indicMdp {
    color: rgb(133, 133, 133);
    padding-left: 15px;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.indicInscription{
    height: 1rem;
    color : red;
}

.forceMdp span{
    visibility : hidden;
    width: 12vw;
    text-align: center;
    margin : 4px
}

#faible{
    border-top: solid 1px yellow;
}

#moyen{
    border-top: solid 1px orange;
}

#fort{
    border-top: solid 1px red;
}

.forceMdp{
    display: flex;
    flex-direction: row;
    width : 40vw;
    justify-content: center;
}

.logoFormulaire {
    visibility: hidden;
    display: inline;
    height : 25px;
}

.pageconnection{
    color : inherit;
}

.tableauchoisi{
    display: block;
    margin : auto;
    max-height: 37vh;
    max-width: 95vw;
}

.interfaceDeJeu{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    flex-wrap: wrap;
    margin: auto;
    transition: all 0.8s;
}

.tapisDeJeu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width : fit-content;
    margin : 0px
}

.carteVerso{
    background: linear-gradient(150deg, rgb(4, 112, 0) 0%, rgb(54, 201, 0) 100%);
    width: 120px;
    height: 120px;
    margin : 00px;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 5%;
    transition: all 0.2s;
}

.carteRecto{
    display :  none;
    border-radius: 5%;
    width: 120px;
    
}

.carteVerso:hover{
    rotate: -1deg;
    background: linear-gradient(150deg, rgb(5, 146, 0) 0%, rgb(62, 233, 0) 100%);
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
    border : 2px solid rgb(238, 238, 238);
}

.compteurs{
    font-size: 2rem;
}

.listetableau{
    display: block;
    margin : auto;
}

.tableauParties{
    table-layout: fixed;
    width: 40vw;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
    margin-bottom: 2vh;
}

.tableauParties tr{
    border: 1px solid white;
}